
#resume {
  color: #3C3C3C;
    width: 70px;
    height: 70px;
    text-align: center;
  display: flex;
  justify-content: center;

}
h1 {
  text-align: center;
}

      blockquote {font-family: 'Merriweather', serif; }
  
  .hangingindent {
      padding-left: 40px ;
      text-indent: -22px ;
      }

img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  height: 50%;
}  

@media screen and (max-width: 759px) {
          
      img {
          max-width: 100%;
          padding-left: 10px;
      }
              }

              @media print {
                nav{
                  display: none;
                }
                
                h1 {
                  font-size: 24pt;
                  margin: 10pt 0;
                }
                
                p {
                  margin: 5pt 0;
                }
              }