body{
background-color: #96a893;
}
h1 {color: #3C3C3C text-align: center
}

header {
    display: inline;
    vertical-align:center;
    background-color: #945D60;
    width: 100%;
}

h3 {color: #3C3C3C}
h4 {color: #3C3C3C}

@font-face { 

    font-family: ultraregular; 
    
    src: url(ultraregular.ttf); 
    
    }
    blockquote {font-family: ultraregular, serif; }

.hangingindent {
    padding-left: 40px ;
    text-indent: -22px ;
    }

    @media screen and (min-width: 760px) {
    img {
        max-width: 100%;
        text-align: left;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "item1 item2"
        "item3 item3"
        "item4 item4";
    }
}
/* Grid layout in desktop view*/
@media screen and (max-width: 759px) {
        
    img {
        max-width: 100%;
        padding-left: 10px;
        }
            }
            