
@font-face { 

    font-family: ultraregular; 
    
    src: url(ultraregular.ttf); 
    
    }
    blockquote {font-family: ultraregular, serif; }

    .animated-heading {
        animation-name: slide-in;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      
      @keyframes slide-in {
        0% {
          transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    