body{
background-color: #96a893;
}
h1 {color: #3C3C3C; text-align: center;
}

header {
    display: inline;
    vertical-align:center;
    background-color: #945D60;
    width: 100%;
}

h3 {color: #3C3C3C}
h4 {color: #3C3C3C}

@font-face { 

    font-family: ultraregular; 
    
    src: url(ultraregular.ttf); 
    
    }
    blockquote {font-family: ultraregular, serif; }

.hangingindent {
    padding-left: 40px ;
    text-indent: -22px ;
    }

    @media screen and (min-width: 760px) {
    img {
        max-width: 100%;
        text-align: left;
    }
    .video-container {
        padding-bottom: 75%;
}
    }