

  
  body{
    background-color: #c74a89 ;
    font-family: 'Merriweather', serif;
    color: #3E3E3E;
    padding: 10px;
    }
    h1 {color: #3E3E3E; text-align: center;
    }
    
    main {
        background-color: #f2f1f1;
    }

    
    h3 {color: #3E3E3E}
    h4 {color: #3E3E3E}
    p {
      padding: 10px;
    }
  
        blockquote {font-family: 'Merriweather', serif; }
    
    .hangingindent {
        padding-left: 40px ;
        text-indent: -22px ;
        }


        .artimg {
            width: 200 px;
            height: 200 px;
        }

        @media screen and (min-width: 760px) {
        img {
            max-width: 80%;
            text-align: left;
            size: ;
        }
    }

    footer {
        background-image: src="/test.jpg";
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        text-align: center;
      }
    
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        text-align: center;
    }
    
    .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 560px;
        height:  313px;
    }
    
    @media screen and (max-width: 759px) {
            
        img {
            max-width: 100%;
            padding-left: 10px;
            }
                }
  
                @media print {
                  nav{
                    display: none;
                  }
                  body {
                    font-size: 12pt;
                  }
                  
                  h1 {
                    font-size: 24pt;
                    margin: 10pt 0;
                  }
                  
                  p {
                    margin: 5pt 0;
                  }
                }
              footer {
                  background-image: url('/test.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  color: #fff;
                  padding: 20px;
                  text-align: center;
                }
              
                @media only screen and (max-width: 600px) {
                    .video-container {
                      padding-bottom: 56.25%;
                      max-width: 100%;
                    }
                    .video-container iframe {
                      width: 100%;
                      height: auto;
                    }
                  }
                  
            
